<mat-card>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <form [formGroup]="form" (submit)="onSavePost()" *ngIf="!isLoading">
        <mat-form-field>
            <input placeholder="Post Title" type="text" matInput formControlName="title" />
            <mat-error *ngIf="form.get('title').invalid">Please enter required title!</mat-error>
        </mat-form-field>
        <div>
            <button mat-stroked-button type="button" (click)="filepicker.click()">
                pick image
            </button>
            <input type="file" #filepicker />
        </div>
        <mat-form-field>
            <textarea placeholder="Post Content" matInput rows="6" formControlName="content"></textarea>
            <mat-error *ngIf="form.get('content').invalid">Please enter required Content!</mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Save Post</button>
    </form>
</mat-card>
<div>
